<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lerobot">
    <xacro:arg name="ros2_control_hardware_type" default="isaac" />

    <!-- Import urdf file -->
    <xacro:include filename="$(find lerobot_description)/urdf/so100.urdf" />

    <!-- Import ros2_control description -->
    <xacro:include filename="robot.ros2_control.xacro" />

    <xacro:lerobot_ros2_control name="LeRobotSystem" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>
</robot>
